<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-title>Perfil</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Perfil</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Información del usuario ficticio -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Información Personal</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>Nombre:</ion-label>
          <ion-text>Carlo Anfossi</ion-text>
        </ion-item>
        <ion-item>
          <ion-label>Correo Electrónico:</ion-label>
          <ion-text>Carlo.anfossi@duocuc.cl</ion-text>
        </ion-item>
        <ion-item>
          <ion-label>Teléfono:</ion-label>
          <ion-text>(123) 456-7890</ion-text>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

</ion-content>

