<ion-app>
  <ion-menu  menuId="main-menu" content-id="main">
    <ion-header>
      <ion-toolbar>

        <ion-item routerLink="inicio">
         
          <ion-label> inicio</ion-label>
        </ion-item>

      </ion-toolbar>
    </ion-header>
    <ion-content>
      <div class="menu-header-bg"></div>
      <div class="header-content">

        <img src="../assets/icon/favicon.png" alt="">
        <ion-label>
          <h2>Sr.carlo</h2>
          <p>correo</p>
        </ion-label>

      </div>
        <div class="action-button">
          <ion-button>
            <ion-icon slot="start" name ="add"></ion-icon> mis reserva
            </ion-button>
        </div>

      <ion-list class= "menu-items" lines="none">
       
        <ion-menu-toggle>
          <ion-item routerLink="pages/perfil">
            <ion-icon name="person-circle-outline" slot="start"></ion-icon>
            <ion-label> perfil</ion-label>
          </ion-item>
        </ion-menu-toggle>
      

        <ion-item routerLink="pages/reserva">
          <ion-icon name="key-outline" slot="start"></ion-icon>
          <ion-label>Reserva</ion-label>
        </ion-item>

        <ion-item routerLink="pages/cabania">
          <ion-icon name="home"slot="start"></ion-icon>
          <ion-label>cabañas</ion-label>
        </ion-item>

        <ion-item routerLink="pages/oferta-cabania">
          <ion-icon name="home"slot="start"></ion-icon>
          <ion-label>oferta de cabaña</ion-label>
        </ion-item>

        <ion-item>
          <ion-icon name="construct-outline" slot="start"></ion-icon>
          <ion-label>configuracion</ion-label>
        </ion-item>


      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
